## Imbalanced Dataset Handling
     1. Upsampling
     2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [10]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [21]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [23]:
df.head()

   feature_1  feature_2  target
0  -0.322920  -0.993527       0
1   0.501160  -0.860507       0
2   0.135932  -0.562611       0
3   0.397014  -1.858874       0
4  -0.266987   1.101198       0

In [24]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [26]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [27]:
df_majority.head()

   feature_1  feature_2  target
0  -0.322920  -0.993527       0
1   0.501160  -0.860507       0
2   0.135932  -0.562611       0
3   0.397014  -1.858874       0
4  -0.266987   1.101198       0

In [28]:
df_minority.head()

     feature_1  feature_2  target
900   2.277870   1.331547       1
901   2.188312  -0.157762       1
902   5.386115   1.118134       1
903   3.462882   3.217259       1
904   2.711008   1.551591       1

In [33]:
# Upsampling perform

from sklearn.utils import resample

In [32]:
pip install sklearn.utils

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn.utils
  Downloading sklearn_utils-0.0.15.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /home/anmol/.local/lib/python3.10/site-packages (from sklearn.utils) (1.24.2)
Requirement already satisfied: pandas in /home/anmol/.local/lib/python3.10/site-packages (from sklearn.utils) (2.0.0)
Collecting pyfunctional
  Downloading PyFunctional-1.4.3-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.5/49.5 KB 1.7 MB/s eta 0:00:00
Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 18.7 MB/s eta 0:00:0000:0100:01
Collecting scipy
  Downloading scipy-1.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 12.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: seaborn in /home/anmol/.local/lib/python3.10/site-packages (from sklearn.utils) (0.12.2)
Collecting statsmodels
  Downloading statsmodels-0.13.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 17.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tzdata>=2022.1 in /home/anmol/.local/lib/python3.10/site-packages (from pandas->sklearn.utils) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/anmol/.local/lib/python3.10/site-packages (from pandas->sklearn.utils) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/anmol/.local/lib/python3.10/site-packages (from pandas->sklearn.utils) (2023.3)
Collecting tabulate<=1.0.0
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Collecting dill>=0.2.5
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 KB 9.2 MB/s eta 0:00:00
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 KB 17.9 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/anmol/.local/lib/python3.10/site-packages (from seaborn->sklearn.utils) (3.7.1)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 KB 15.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=21.3 in /home/anmol/.local/lib/python3.10/site-packages (from statsmodels->sklearn.utils) (23.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/anmol/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->sklearn.utils) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /home/anmol/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->sklearn.utils) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn->sklearn.utils) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/anmol/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->sklearn.utils) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /home/anmol/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->sklearn.utils) (9.5.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/anmol/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->sklearn.utils) (4.39.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.2->statsmodels->sklearn.utils) (1.16.0)
Building wheels for collected packages: sklearn.utils
  Building wheel for sklearn.utils (setup.py) ... done
  Created wheel for sklearn.utils: filename=sklearn_utils-0.0.15-py3-none-any.whl size=27890 sha256=c57ba3f105a5761d11ac2e0a0a5b20fb0d71c153631a7afe374d5e9556d2712e
  Stored in directory: /home/anmol/.cache/pip/wheels/5f/24/ac/5ac7ae7b1468ab302356c20a6ef3b448c4553519d0ed30d7ee
Successfully built sklearn.utils
Installing collected packages: threadpoolctl, tabulate, scipy, patsy, joblib, dill, scikit-learn, pyfunctional, statsmodels, sklearn.utils
Successfully installed dill-0.3.6 joblib-1.2.0 patsy-0.5.3 pyfunctional-1.4.3 scikit-learn-1.2.2 scipy-1.10.1 sklearn.utils-0.0.15 statsmodels-0.13.5 tabulate-0.9.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [43]:
df_minority_upsample = resample(df_minority,
         replace=True,
         n_samples=len(df_majority),
         random_state=42
         )

In [45]:
df_minority_upsample.shape

(900, 3)

In [46]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [47]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [48]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [49]:
df_upsampled.shape

(1800, 3)

## DownSampling

In [50]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [51]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [52]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [55]:
df_majority_downsample = resample(df_majority,
         replace=False,
         n_samples=len(df_minority),
         random_state=42
         )

In [57]:
df_majority_downsample.shape

(100, 3)

In [58]:
df_majority_downsample.head()

     feature_1  feature_2  target
70    0.696826   0.278475       0
827  -0.486782   0.257447       0
231   0.331688  -0.866419       0
588   1.135652   0.870275       0
39    0.565504   0.276928       0

In [59]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [60]:
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [62]:
df_downsample.shape

(200, 3)